div[data-type="todos"] {
  width: 100%;
  max-width: 625px;
  margin: 0 auto;
  .container {
    .todo-box {
      text-align: center;
      padding: 15px 15px 10px;
      margin-bottom: 50px;
      background: #fff;
      border-radius: 10px;
      border: solid 1px black;
      .todo-wrapper {
        .image {
          img {
            width: 100%;
          }
        }
        .button_to {
          input {
            width: 100%;
          }
        }
      }
    }
  }
}