<h2>
  <%= link_to 'Add New', new_todo_path %>
  Todos
</h2>
<ul>
<% @todos.each do |todo| %>
<li>
<%= link_to todo.title, todo_path(todo) %>
<%= link_to 'delete', 
    todo_path(todo), 
    method: :delete, 
    data: { confirm: 'Sure?' } %>
</li>
<% end %>
</ul>
<<<<<<< HEAD
<a href="/auth/twitter"><button>ログイン</button></a>
=======

<<<<<<< HEAD

<a href="/auth/twitter"><button>ログイン</button></a>
=======
<%if logged_in?%>
<a href="/logout">ログアウト</a>
<%else%>
<a href="/auth/twitter"><button>ログイン</button></a>
<%end%>
>>>>>>> 7b8834edfb3a81da7049fc54be695ac0c5d39dc3
>>>>>>> master
